/*GENERAL*/
*, ::before, ::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body 
{
    font-size: 15px;
    background: hsl(0, 0%, 98%);
    width: 1440;
    height:100%;
    display: flex;
    flex-direction: column;
    margin: 0 10% 0 10%;
}

header
{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.headerpt 
{
display: none;
}
.headerp
{
display: flex;
}

h1
{
    margin: 45px 0px 10px 0;

}

strong 
{
    line-height: 50px;
    font-weight: 600;
}

h1 p
{
    text-align: center;
    color: hsl(234, 12%, 34%);
    font-weight: 200;
    font-family: 'poppins', sans-serif;
}

p
{
    color: hsl(229, 6%, 66%);
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}

main
{
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 hr
{
    height: 4px;
    background-color: #00C8C8;
    border: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}

.div2 hr
{
    height: 4px;
    background-color: #E63950;
    border: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}


.div3 hr
{
    height: 4px;
    background-color: #FF9100;
    border: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}


.div4 hr
{
    height: 4px;
    background-color: #549EF2;
    border: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}


h2
{
    color: hsl(234, 12%, 34%);
    font-family: 'poppins', sans-serif;
    font-weight: 600;

}

.texte-cartes
{
font-size: 12px;
padding: 8px 15px 0 0;
}

main div
{
    border-radius: 10px;
    height: 240px;
    width: 350px;
    background: #ffffff;
}

main div h2
{
    padding-top: 30px;
}

.div1
{
    grid-area: 1 / 1 / 3 / 2;
    margin-top: 150px;
    position: relative;   
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    justify-self: center;
}

.div2
{
    grid-area: 1 / 2 / 2 / 3;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;   
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    justify-self: center;
}

.div3
{
    grid-area: 2 / 2 / 3 / 3;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;   
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    justify-self: center;
}

.div4
{
    grid-area: 1 / 3 / 3 / 4;
    margin-top: 150px;
    position: relative;   
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    justify-self: center;
}

.div1 div, .div2 div, .div3 div, .div4 div
{
    padding: 0 30px 30px 30px;
}

img
{
    width: 70px;
    height: 70px;
    display: flex;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

footer
{
    margin-bottom: 50px;
}

/* Responsive */

@media screen and (max-width: 1024px) 
{

    header
{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px auto;
}
    .headerpt
    {
        padding-right: 20px;
        display: block;
        font-size: 11px;
        white-space: pre;

    }
    .headerp
    {
    display: none;
    }

    h1
    {
        font-size: 18px;
        margin-top: 50px;

    }

    strong 
    {
        line-height: 0px;
        font-weight: 600;
    }

    main 
    {
        margin: 0px auto;
        display: block;
    }
    .texte-cartes
    {
    font-size: 8px;
    padding: 5px 0px 0 0;
    }


    main div
    {
        height: 190px;
        width: 230px;
    }
    main div h2
    {
        font-size: 15px;
        padding-top: 13px;

    }

    .div1
    {
        margin: 30px auto;
    }

    .div2
    {
        margin: 30px auto;
    }

    .div3
    {
        margin: 30px auto;
    }

    .div4
    {
        margin: 30px auto;
    }

    img
    {
        width: 40px;
        height: 40px;
        display: flex;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    .attribution
    {
        margin-bottom: 0px;
        font-size: 9px;
    }

    footer
    {
        margin-bottom: 20px;
    }

}